/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: auto ;
  }

/* Global Styles  */
.container {
    max-width: 1340px;
}
body {
    font-family: 'Poppins', sans-serif;
}
/*================================================================  */
/*======================== Banner Section ========================  */
/*================================================================  */
.banner {
    background-image: url("../res/banner-background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 800px;
}

/* Nav Section  */

.menu-icon {
    display: none;

}

.menu-icon > img, .search > img  {
    padding: 30px;
  
    background-image: url("../res/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer ;

}
.logo {
    padding-top: 14px;
}
.search {
    margin-right: 80px;
}
/* Banner Wrapper */
.banner-container {
    display: flex;
    flex-direction: column;
    min-height: 800px;
    position: relative;
  

}
.banner-wrapper {
    margin-top: 78px;
}
.banner-heading {
    font-weight: 600;
    font-size: 70px;
    color: #fff;
}
.sub-heading {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #fff;
}
/* Features */
.features-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    margin-top: 80px;
    flex-wrap: wrap
}
.features-sub-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

}
/* Wrapper CTA */
.cta {
    display: flex;
    justify-content: center;
}
.wrapper-cta {
    width: 100%;
    max-width: 455px;
    min-height: 484px;
    background: rgba(2, 31, 57, 0.8);
    border: 1px solid #043057;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}
.wrapper-cta > h2 {
    color: #02AEEF;
    font-size: 28px;
    font-weight: 600;
}
.wrapper-cta-sub-heading {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500x;
    color: #fff;
    margin-top: 10px;
}
.wrapper-hr {
    width: 100%;
    border: 1px solid #043057;
}
.btn-cta {
    background-color: #F26A2E;
    width: 100%;
    max-width: 263px;
    height: 50px;
    border-radius: 10px;
    padding: 12px;
    color: #fff;
}
.btn-cta:hover {
    color: #fff;
    background-color:#02aeef;
    border-bottom: 1px solid #F26A2E;
}
.compatible {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 20px;
}
.terms {
    margin-top: 30px;
    text-align: left;
    color: #fff;    

  
}
.terms > p {
    line-height: 24px;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    font-style: normal;
}
/* Video CTA  */
.video-cta {
    align-self: center; 
    text-align: center;
    position: absolute;
    bottom: -54px;

}
.video-cta > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;

    

}
.video-cta > img {
    width: 100%;
    max-width: 136px;
    min-height: 136px;
    cursor: pointer;

}
/* Modal */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
  
    margin: auto;
    max-width: 960px;
    min-height: 534px;

  }
.modal-content > iframe {
    width: 100%;
    max-width: 960px;
    min-height: 534px;
  
}

/*================================================================  */
/*======================== Steps Section ========================  */
/*================================================================  */
.steps {
    margin-top: 123px;
    text-align: center;
}
.steps-heading {
    font-size: 40px;
    line-height: 80px;
    font-weight: 600;
    color: #2D9CDB;
}
.steps-heading:hover {
    text-decoration: underline;
}
.steps-sub-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #575757;
}
/* Cards */
.cards {
    margin-top: 52px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 136, 188, 0.15);
    border-radius: 50px 0px;
    width: 100%;
    min-height: 375px;
    padding: 52px 50px;
    margin-bottom: 50px;
    position: relative;
}
.cards > img {
    margin-bottom: 5px;
}
.cards > h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    color: #02AEEF;
}
.cards > p {
    color: #828282;
    font-weight: 400;
    font-size: 14px;
 
}
.steps-title {
    font-size: 18px !important;
    color: #001A31 !important;
    font-weight: 600 !important;
    margin-bottom: 20px;

}
/* Steps CTA */
.steps-compatible {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding: 20px 0px 80px 0px;
}
/* Steps Patterns */
.rect-upper {
    position:absolute;
    right: -35px;
    top: -35px;
    z-index: -1;
}
.pattern-lower-left {
    position: absolute;
    left: -35px;
    z-index: -1;
}
.rect-lower {
    position: absolute;
    left: -50px;
    bottom: -55px ;
    z-index: -1;
}
.pattern-upper-right {
    position:absolute;
    right: -35px;
    top: -35px;
    z-index: -1;
}


/*================================================================  */
/*================== Introduction Section ========================  */
/*================================================================  */
.introduction {
    background-color: #F0FCFF;
    text-align: center;
    height: 709px;
}
.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.introduction-wrapper > h1  {
    padding-top: 80px;
    font-size: 40px;
    line-height: 80px;
    font-weight: 600;
    color: #2D9CDB;
}
.introduction-wrapper > h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}
.introduction-wrapper > p {
    font-size: 14px;
    line-height: 26px;
    margin: 50px 0px;
    width: 50%
}
/*================================================================  */
/*================== Security Section ==========================  */
/*================================================================  */
.security-wrapper {
    margin-top: 280px;
    text-align: center;
}
.security-wrapper > h2 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
    font-weight: 600;
}
.security-wrapper > h2 > span {
    color: #02AEEF; 
}
.security-card {
    box-shadow: 0px 4px 10px rgba(0, 136, 188, 0.15);
    border-radius: 50px 0px;
    padding: 25px;
    width: 100%;
    max-width: 365px;
    min-height: 306px;
    margin: 0px auto 80px auto;

}
.security-card > img {
    margin-bottom: 15px;
}
.security-card > h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.security-card > p {
    color: #828282;
    font-size: 14px;
    line-height: 26px;
}
/*================================================================  */
/*================== Features-2 Section ==========================  */
/*================================================================  */
.features-2 {
    background-image: url("../res/pattern-bg.png");
    color: #fff;
}
.features-2-img {
    padding: 100px 0px;
    display: block;
    margin: auto;
}
.features-2-heading {
    font-size: 40px;
    font-weight: 600;
    color: #02AEEF;
    margin-top: 120px;
    text-align: center;

}
.feature-2-sub-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    margin: 10px 0px 30px 0px;
}
.features-2-active {
    background: rgba(2, 31, 57, 0.8);
    border: 1px solid #043057;
    box-sizing: border-box;

    /* Drop Shadow */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.features-2-list {
    padding: 20px 20px;
    display:flex

}
.features-2-list > div > p {
    font-size: 18px;
    font-weight: 600;
}
.fas {
    color: #02AEEF;
    margin: 5px 5px 0px 0px;
}
.features-hr {
    background-color: #fff;
    border-top: 1px solid;
    opacity: 0.1;
    margin: 0px;
}
.features-2-btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.features-2-wrapper {
    position: relative;
}
.features-pattern-top {
   position: absolute;
   right: 0; 
   margin-top: 15px;
}
.features-pattern-bottom {
    position: relative;

    margin-top: -50px
}
/*================================================================  */
/*================== Data Usage Section ==========================  */
/*================================================================  */
.data-usage {
    padding: 80px 0px;
}
.data-usage-heading {
    font-size: 40px;
    color: #2D9CDB;
    line-height: 60px;
    font-weight: 600;
}
.data-usage-sub-text {
    font-size: 14px;
    color: #828282;
    margin: 15px 0px 30px 0px;
    width: 80%;
}
.hr {
    margin: 80px 0px;
    border: 1px solid #F2F2F2;
}
.data-usage-cta {
    margin-top: 10px;
}
/*================================================================  */
/*================== Voice Call Section ==========================  */
/*================================================================  */
.voice-calls {
    background-color: #F0FCFF;
    padding: 90px 0px;
}
.voice-calls-heading {
    font-size: 40px;
    color: #2D9CDB;
    line-height: 60px;
    font-weight: 600;
    margin-top: 80px;
}
.voice-calls-sub-text {
    font-size: 14px;
    color: #828282;
    margin: 15px 0px 30px 0px;
    width: 80%;
}
.voice-calls-cta {
    margin-top: 20px;
}
/*================================================================  */
/*================== Voice Call Section ==========================  */
/*================================================================  */
.call-forwarding {
    padding: 80px 0px;
}
.call-forwarding-heading {
    font-size: 40px;
    color: #2D9CDB;
    line-height: 60px;
    font-weight: 600;
    margin-top: 80px;
}
.call-forwarding-sub-text {
    font-size: 14px;
    color: #828282;
    margin: 15px 0px 30px 0px;
    width: 80%;
}
.call-forwarding-cta {
    margin-top: 20px;
}
/*================================================================  */
/*================== Community Section ==========================  */
/*================================================================  */
.community {
    background-image: url("../res/footer-banner.jpg");
    min-height: 762px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    text-align: center;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #02AEEF;
}

.community-wrapper {
    position: relative;

}
.community-wrapper > h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 80px;
}
.community-wrapper > p {
    font-size: 19px;
    line-height: 28.5px;
    width: 70%;
    font-weight: 400;
    margin: 20px auto 50px auto;
}
.community-left {
    position:absolute;
    left: 0px;
    top: -30px;
}
.community-right {
    position:absolute;
    right: 0px;
}
/*================================================================  */
/*================== Footer Section ===========================  */
/*================================================================  */
.footer {
    background-color: #001A31;
    color: #fff;
    min-height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-links > li > a {
    color: #fff;
    font-size: 12px;
    line-height: 26px;

}
.footer-links > li > span {
    opacity: 0.1;
}
.copyright {
    font-size: 12px;
    padding-top: 5px;
}
.footer-links > li {
    display: inline;
}


/* Sticky Navbar  */

.sticky-logo {
    max-width: 166px;
    height: 58px;
    margin-top: 10px;

}

.sticky-navbar {
    min-height: 100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
 
 

}
.navbar-wrapper {
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 10px;

}
.navbar-wrapper > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.icon-wrapper {
    background: #faf2f2;
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  
}

.icon-wrapper > img {
  display: block;
  margin: auto;
    width: 16.33px;
    height: 16.33px;
}

.nav-links {
    font-size: 13px;
    font-weight: 500;
    color: #575757;
    margin-top: 10px;
 
}
.nav-links:hover {
text-decoration: none;
color: #02AEEF;
}
/* Login */
.login {
    background-color: #02AEEF;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.login > .container {
    padding: 0px 75px;
}
.t-wrapper  > p,  .l-wrapper > a {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
 
}
.l-wrapper {
    display: flex;
    justify-content: flex-end;
}
.l-wrapper > a:hover {
    text-decoration: none;
}
.login-icon {
    margin-right: 10px;
}
.login-bar {
    opacity: 0.2;
    margin-left: 5px;
}
.search-icon {
    margin-left: 10px;
}

.is-search-input {
    background: #fff;
    background-image: none!important;
    color: #333;
    padding: 0 12px;
    margin: 0;
    outline: 0!important;
    font-size: 13px!important;
    border: solid 1px #ccc!important;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: none;
    transition: all 1s ease;

}

/* collapsible navbar section */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999 !important;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 30px;

  }
  .sidenav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .close {
      cursor: pointer;
      background-color: #F8F7FC;
      border-radius: 50%;
      padding: 5px;
  }
  .primedomain {
      text-align: center;
  }
  .primedomain-logo {
      width: 100%;
      max-width: 137px;
      height: 102px;
      margin-top: 30px;
  }
  .primedomain > h2 {
      font-size: 16px;
      color: #575757;
      font-weight: 500;
      margin-top: 20px;
  }



  .sidenav-links {
      width: 100%;
    
      padding: 35px 35px 0px 35px;
      margin-top: 30px;
  }
  .s-links {
     display: inline;
  }
  .s-links > a {
    font-size: 16px;
    color: #001A31;
    font-weight: 500;
  }
  .s-links > a:hover {
    text-decoration: none;
    color: #02AEEF;
  }

  .primeone-chat-link {
    
      width: 35px;
      height: 35px;
      padding: 10px 10px;
      border-top-left-radius: 20%;
      border-bottom-right-radius: 20%;
      margin-right: 10px;
      position: relative;
  }
  .primeone-chat-link > img {
      width: 26px;
      height: 26px;
  }
  /* Links Icons */
.prime-chat {
    background-color: #E5233D;
}
.prime-iot {
    background-color: #DDA73A;
}
.prime-tv {
    background-color: #4CA146;
}
.prime-life {
    background-color: #136A9F;
}
.prime-circle {
    background-color: #28BFE6;
}
.prime-city {
        background-color: #F26A2E;
}
  .arrow {
      display:inline-block;
      width: 30px;
      height: 30px;
      background-color: #F2F2F2;
      text-align: center;
      border-radius: 50%;
      padding-top: 3px;
      padding-left: 2px;
      float: right;
      bottom: 2px;
      position: relative;
      cursor: pointer;
  }

  .sidenav-hr {
    border: 1px solid #F2F2F2;
    margin: 20px 0px;
  }
 

.sidebar-btn-wrapper {
    margin-top: 40px;
}
.sidebar-btn-wrapper > a {
    background-color: #02AEEF;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    min-height: 50px;
    width: 100%;
    max-width: 263px;
    padding: 15px;
}

.sidebar-btn-wrapper > a:hover {
    color: #fff;
    text-decoration: none;
}



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }